header {height: 65px;
        background-color: black;
        text-align:center;
}
         

.header_left {display:inline-block;
              color:white;
              font-size: 15;
}

.body_container {background-color: aqua; 
}
