header {height: 65px;
        background-color: black;
        text-align:center;
}
         

.header_left {display:inline-block;
              color:white;
              font-size: 15;
}

body {background-image: url("/P1000049.JPG"); 
      background-size: cover;  
}

footer {height: 65px;
        background-color: black;
}        
