header {height: 65px;
        background-color: black;
        text-align:center;
        position:fixed;top: 0;
        z-index:10;
}
         

.header_left {color:white;
              font-size: 15;
}


.body_container {background-image: url("/P1000049.JPG"); 
      background-size: cover;
      height: 1000px;  
      margin-top:1px;  
}

footer {border-top: 1px solid #eee;
        height: 65px;
        background-color: black;
} 

.fotter-container p {color: white;
                     font-size: 13; 
                     z-index:10;
}
